# Node
node_modules/
dist/

# Environment variables
.env
backend/.env

# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc

# Testing
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db